clint>=0.5.1
GitPython>=3.1.0
packaging>=19.0
plyara @ git+https://github.com/cccs-rs/plyara.git@a43f581e84deb71830ed24f1b915dc28269e17dd
python-baseconv>=1.2.2
PyYAML>=5.1
stix2>=2.1.0
yara-python>=4.0.2
